<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus consectetur velit adipisci enim aspernatur aut facilis quis officia omnis veniam obcaecati magni ratione ad, nulla nesciunt sequi ex! Dolores, esse!</p>
    </div>

</section>