<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae id sequi, consequatur cupiditate vero omnis debitis quisquam voluptatem repudiandae praesentium libero illo non adipisci dicta excepturi ad cum quasi dignissimos?
        </p>
        <hr class="my-4">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium eos repellat tempora quo consequuntur pariatur blanditiis natus, quas assumenda velit magni fugit dolor, ea nobis quos incidunt laudantium eligendi quae?
        </p>
        <a href="#" class="btn btn-primary">Fede Canesa</a>
</div>